html,
body {
	padding: 0;
	margin: 0;
	font-family: Lato, sans-serif;
}

p {
	color: #4f4f4f;
	font-size: 17px;
	line-height: 1.5em;
}

p + h3 {
	margin-top: 40px;
}

a {
	color: #00988f;
	cursor: pointer;
	text-decoration: underline;
}

hr {
	border: none;
	border-bottom: 1px solid #e2e2e2;
	height: 1px;
	margin: 40px 0;
}

h1 {
	margin-top: 0;
	margin-bottom: 10px;
}

.upper {
	text-transform: uppercase;
}

.content {
	margin: 50px 0;
	position: relative;
}

input[type=text],
select,
textarea {
	border: 1px solid #e2e2e2;
}

textarea {
	resize: none;
}

button:focus,
select:focus,
input:focus,
textarea:focus {
	outline: none;
}

input:focus,
select:focus,
textarea:focus {
	border-color: #00988f;
}

h3 small {
	font-size: 15px;
	margin-left: 10px;
	color: #969696;
}

h2 {
	margin-top: 0;
}
